* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;


  --fun1-background: linear-gradient(#1134a6, #008ecc, #1134a6);
  --fun1-border: 1px solid #1134a6;

  --fun2-background: linear-gradient(#2255ff, #99c2ff, #2255ff);
  --fun2-border: 1px solid #2255ff;

  --fun3-background: linear-gradient(#4682b4, #72c3fb, #4682b4);
  --fun3-border: 1px solid #4682b4;
}

/*==== Calculator Border ====*/
#calcCon {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#c0c0c0, #d3d3d3, #c0c0c0, #d3d3d3, #c0c0c0);
  overflow: hidden;
}

#inCon {
  width: 100vw;
  height: 100vh;
}

h3 {
  font-family: lobster, cursive, arial;
  font-style: italic;
  margin: 13% 0 0 70%;
  text-shadow: inherit;
}

/*==== Calculator Screen ====*/
/*#screen {
  width: 95%;
  height: 20%;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  margin: 10% 0 3% 2.5%;
  background-color: #fff;
}*/

#inScr {
  width: 95%;
  height: 1.5%;
  border: 1px solid #3e3e3e;
  border: none;
  font-size: 1.1em;
  /*border-radius: 5px;*/
  padding: 6% 0 6% 0%;
  margin: 0 0 0 2.5%;
  background-color: #fff;
  text-align: right;
}

#bigInScr {
  width: 95%;
  height: 8%;
  border: 1px solid #3e3e3e;
  border: none;
  font-size: 2em;
  /*border-radius: 5px;*/
  padding: 15% 0 15% 0%;
  margin: 0 0 0 2.5%;
  background-color: #fff;
  text-align: right;
}

/*==== Divs holding rows of buttons ====*/
.butts {
  width: 100%;
  height: 10vh;
  border-radius: 5px;
  margin: 4% 0 0 1.5%;
}

.tons {
  margin: 5% 0 0 1.5%;
}

/*==== buttons ====*/
.but {
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  padding: 4% 7.5% 4% 7.5%;
  margin: 4% 0 0 1.1%;
  background: linear-gradient(#d3d3d3, #a9a9a9, #6e6e6e);
  color: #000;
  font-weight: bolder;
  cursor: pointer;
}

.ton0 {
  padding: 4% 7.5% 4% 7.5%;
}

.equals {
  padding: 4% 7.1% 4% 7.1%;
  background: linear-gradient(#4cbb17, #39ff14, #4cbb17);
  border: 1px solid #4cbb17;
}

.dot {
  padding: 4% 7.9% 4% 7.9%;
}

.plus {
  padding: 4% 7% 4% 7%;
  background: var(--fun1-background);
  border: var(--fun1-border);
}

.slash {
  padding: 4% 7.5% 4% 7.5%;
  background: var(--fun1-background);
  border: var(--fun1-border);
}

.star {
  padding: 4% 7.3% 4% 7.3%;
  background: var(--fun1-background);
  border: var(--fun1-border);
}

.dash {
  background: var(--fun1-background);
  border: var(--fun1-border);
}

.op {
  background: var(--fun1-background);
  border: var(--fun1-border);
}

.cp {
  background: var(--fun1-background);
  border: var(--fun1-border);
}

.mode {
  padding: 4% 6.9% 4% 6.9%;
}

.del {
  padding: 4% 5.3% 4% 5.3%;
  background: linear-gradient(#d30000, #ff2400, #d30000);
  border: 1px solid #d30000;
}

.fun1 {
  padding: 4% 7% 4% 7%;
  background: var(--fun1-background);
  border: var(--fun1-border);
}

.fun2 {
  padding: 4% 6.3% 4% 6.3%;
  background: var(--fun2-background);
  border: var(--fun2-border);
}

.PI {
  background: var(--fun2-background);
  border: var(--fun2-border);
}

.pow {
  background: var(--fun2-background);
  border: var(--fun2-border);
}

.sqrt {
  background: var(--fun2-background);
  border: var(--fun2-border);
}

.ln {
  background: var(--fun2-background);
  border: var(--fun2-border);
}

.log {
  background: var(--fun2-background);
  border: var(--fun2-border);
}

.rnd {
  background: var(--fun2-background);
  border: var(--fun2-border);
}

.fun3 {
  padding: 4% 6.3% 4% 6.3%;
  background: var(--fun3-background);
  border: var(--fun3-border);
}

.cos {
  background: var(--fun3-background);
  border: var(--fun3-border);
}

.sin {
  background: var(--fun3-background);
  border: var(--fun3-border);
}

.tan {
  background: var(--fun3-background);
  border: var(--fun3-border);
}

.acos {
  background: var(--fun3-background);
  border: var(--fun3-border);
}

.asin {
  background: var(--fun3-background);
  border: var(--fun3-border);
}

.atan {
  background: var(--fun3-background);
  border: var(--fun3-border);
}

.quest {
  background: linear-gradient(#fc6600, #f9a602, #fc6600);
  border: 1px solid #fc6600;
}

.clr {
  background: linear-gradient(#c21807, #ff0800, #c21807);
  border: 1px solid #c21807;
}

/*==== Modal Design ====*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalHead {
  width: 100%;
  height: 8vh;
  background: linear-gradient(#5cb85c, #56be43, #5cb85c);
  border: 1px solid #4cbb17;
  color: #fff;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 2% 5%;
}

.modalBody {
  width: 100%;
  height: 75vh;
  padding: 2% 5%;
}

.pg {
  font-size: 1em;
}

.modalFooter {
  width: 100%;
  height: 8vh;
  background: linear-gradient(#5cb85c, #56be43, #5cb85c);
  border: 1px solid #4cbb17;
  color: #fff;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 2% 5%;
}

.modalCon {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: #fff;
  float: right;
  font-size: 2em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*===== COLLAPSIBLE =====*/
.collapsible {
  background-color: #fff;
  color: #009900;
  cursor: pointer;
  padding: 2%;
  width: 100%;
  height: 7vh;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
}

.active, .collapsible:hover {
  background-color: #fff;
  font-weight: bolder;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


@media only screen and (min-width: 450px) {


  /*==== Calculator Screen ====*/
  /*#screen {
    width: 95%;
    height: 20%;
    border: 1px solid #3e3e3e;
    border-radius: 5px;
    margin: 10% 0 3% 2.5%;
    background-color: #fff;
  }*/

  #inScr {
    width: 95%;
    height: 1.5%;
    border: 1px solid #3e3e3e;
    border-bottom: none;
    font-size: 1.7em;
    padding: 5% 0 5% 0%;
    margin: 0 0 0 2.5%;
    background-color: #fff;
    text-align: right;
  }

  #bigInScr {
    width: 95%;
    height: 8%;
    border: 1px solid #3e3e3e;
    border-top: none;
    /*border-radius: 5px;*/
    font-size: 2.8em;
    padding: 13% 0 13% 0%;
    margin: 0 0 0 2.5%;
    background-color: #fff;
    text-align: right;
  }

  /*==== Calculator Border ====*/
  h3 {
    font-family: lobster, cursive, arial;
    font-style: italic;
    font-size: 2em;
    margin: 8% 0 0 75%;
    text-shadow: inherit;
  }

  /*==== Divs holding rows of buttons ====*/
  .butts {
    width: 100%;
    height: 5.5vh;
    border-radius: 5px;
    margin: 8.2% 0 0 1.5%;
  }

  .tons {
    margin: 5% 0 0 1.5%;
  }

  /*==== buttons ====*/
  .but {
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    padding: 4% 8% 4% 8%;
    margin: 1% 0 0 1.1%;
    background: linear-gradient(#d3d3d3, #a9a9a9, #6e6e6e);
    color: #000;
    font-weight: bolder;
    font-size: 1.5em;
    cursor: pointer;
  }

  .ton0 {
    padding: 4% 8% 4% 8%;
  }

  .equals {
    padding: 4% 7.5% 4% 7.5%;
    background: linear-gradient(#4cbb17, #39ff14, #4cbb17);
    border: 1px solid #4cbb17;
  }

  .plus {
    padding: 4% 7.6% 4% 7.6%;
    background: var(--fun1-background);
    border: var(--fun1-border);
  }

  .dot {
    padding: 4% 8.6% 4% 8.6%;
  }

  .slash {
    padding: 4% 8% 4% 8%;
    background: var(--fun1-background);
    border: var(--fun1-border);
  }

  .star {
    padding: 4% 8% 4% 8%;
    background: var(--fun1-background);
    border: var(--fun1-border);
  }

  .mode {
    padding: 4% 7.5% 4% 7.5%;
  }

  .dash {
    padding: 4% 7.8% 4% 7.8%;
    background: var(--fun1-background);
    border: var(--fun1-border);
  }

  .op {
    background: var(--fun1-background);
    border: var(--fun1-border);
  }

  .cp {
    background: var(--fun1-background);
    border: var(--fun1-border);
  }

  .del {
    padding: 4% 6.2% 4% 6.2%;
    background: linear-gradient(#d30000, #ff2400, #d30000);
    border: 1px solid #d30000;
  }

  .fun1 {
    padding: 4% 7.4% 4% 7.4%;
    background: var(--fun1-background);
    border: var(--fun1-border);
  }

  .fun2 {
    padding: 4% 7.1% 4% 7.1%;
    background: var(--fun2-background);
    border: var(--fun2-border);
  }

  .PI {
    background: var(--fun2-background);
    border: var(--fun2-border);
  }

  .pow {
    background: var(--fun2-background);
    border: var(--fun2-border);
  }

  .sqrt {
    background: var(--fun2-background);
    border: var(--fun2-border);
  }

  .ln {
    background: var(--fun2-background);
    border: var(--fun2-border);
  }

  .log {
    background: var(--fun2-background);
    border: var(--fun2-border);
  }

  .rnd {
    background: var(--fun2-background);
    border: var(--fun2-border);
  }

  .fun3 {
    padding: 4% 7.1% 4% 7.1%;
    background: var(--fun3-background);
    border: var(--fun3-border);
  }

  .cos {
    background: var(--fun3-background);
    border: var(--fun3-border);
  }

  .sin {
    background: var(--fun3-background);
    border: var(--fun3-border);
  }

  .tan {
    background: var(--fun3-background);
    border: var(--fun3-border);
  }

  .acos {
    background: var(--fun3-background);
    border: var(--fun3-border);
  }

  .asin {
    background: var(--fun3-background);
    border: var(--fun3-border);
  }

  .atan {
    background: var(--fun3-background);
    border: var(--fun3-border);
  }

  .quest {
    background: linear-gradient(#fc6600, #f9a602, #fc6600);
    border: 1px solid #fc6600;
  }

  .clr {
    background: linear-gradient(#c21807, #ff0800, #c21807);
    border: 1px solid #c21807;
  }

}

@media only screen and (min-width: 800px) {


  /*==== Calculator Screen ====*/
/*#screen {
  width: 95%;
  height: 20%;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  margin: 10% 0 3% 2.5%;
  background-color: #fff;
}*/

#inScr {
  width: 95%;
  height: 1.5%;
  border: 1px solid #3e3e3e;
  border-bottom: none;
  /*border-radius: 5px;*/
  font-size: 2.3em;
  padding: 5% 0 5% 0%;
  margin: 0 0 0 2.5%;
  background-color: #fff;
  text-align: right;
}

#bigInScr {
  width: 95%;
  height: 8%;
  border: 1px solid #3e3e3e;
  border-top: none;
  /*border-radius: 5px;*/
  font-size: 3.8em;
  padding: 13% 0 13% 0%;
  margin: 0 0 0 2.5%;
  background-color: #fff;
  text-align: right;
}

   /*==== Calculator Border ====*/
  h3 {
    font-family: lobster, cursive, arial;
    font-style: italic;
    font-size: 2.5em;
    margin: 8% 0 0 78%;
    text-shadow: inherit;
  }

  /*==== Divs holding rows of buttons ====*/
  .butts {
    width: 100%;
    height: 5.8vh;
    border-radius: 5px;
    margin: 8.2% 0 0 1.5%;
  }

  .tons {
    margin: 5% 0 0 1.5%;
  }

  /*==== buttons ====*/
  .but {
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    padding: 4% 8% 4% 8%;
    margin: 1% 0 0 1.1%;
    background: linear-gradient(#d3d3d3, #a9a9a9, #6e6e6e);
    color: #000;
    font-weight: bolder;
    font-size: 2em;
    cursor: pointer;
  }

  .ton0 {
    padding: 4% 8% 4% 8%;
  }

  .equals {
    padding: 4% 7.5% 4% 7.5%;
    background: linear-gradient(#4cbb17, #39ff14, #4cbb17);
    border: 1px solid #4cbb17;
  }

  .plus {
    padding: 4% 7.6% 4% 7.6%;
    background: var(--fun1-background);
    border: var(--fun1-border);
  }

  .dot {
    padding: 4% 8.6% 4% 8.6%;
  }

  .slash {
    padding: 4% 8% 4% 8%;
    background: var(--fun1-background);
    border: var(--fun1-border);
  }

  .star {
    padding: 4% 8% 4% 8%;
    background: var(--fun1-background);
    border: var(--fun1-border);
  }

  .mode {
    padding: 4% 7.4% 4% 7.4%;
  }

  .dash {
    padding: 4% 7.8% 4% 7.8%;
    background: var(--fun1-background);
    border: var(--fun1-border);
  }

  .op {
    background: var(--fun1-background);
    border: var(--fun1-border);
  }

  .cp {
    background: var(--fun1-background);
    border: var(--fun1-border);
  }

  .del {
    padding: 4% 6.2% 4% 6.2%;
    background: linear-gradient(#d30000, #ff2400, #d30000);
    border: 1px solid #d30000;
  }

  .fun1 {
    padding: 4% 7.4% 4% 7.4%;
    background: var(--fun1-background);
    border: var(--fun1-border);
  }

  .fun2 {
    padding: 4% 7.1% 4% 7.1%;
    background: var(--fun2-background);
    border: var(--fun2-border);
  }

  .PI {
    background: var(--fun2-background);
    border: var(--fun2-border);
  }

  .pow {
    background: var(--fun2-background);
    border: var(--fun2-border);
  }

  .sqrt {
    background: var(--fun2-background);
    border: var(--fun2-border);
  }

  .ln {
    background: var(--fun2-background);
    border: var(--fun2-border);
  }

  .log {
    background: var(--fun2-background);
    border: var(--fun2-border);
  }

  .rnd {
    background: var(--fun2-background);
    border: var(--fun2-border);
  }

  .fun3 {
    padding: 4% 7.1% 4% 7.1%;
    background: var(--fun3-background);
    border: var(--fun3-border);
  }

  .cos {
    background: var(--fun3-background);
    border: var(--fun3-border);
  }

  .sin {
    background: var(--fun3-background);
    border: var(--fun3-border);
  }

  .tan {
    background: var(--fun3-background);
    border: var(--fun3-border);
  }

  .acos {
    background: var(--fun3-background);
    border: var(--fun3-border);
  }

  .asin {
    background: var(--fun3-background);
    border: var(--fun3-border);
  }

  .atan {
    background: var(--fun3-background);
    border: var(--fun3-border);
  }

  .quest {
    background: linear-gradient(#fc6600, #f9a602, #fc6600);
    border: 1px solid #fc6600;
  }

  .clr {
    background: linear-gradient(#c21807, #ff0800, #c21807);
    border: 1px solid #c21807;
  }

    /*==== Modal Design ====*/
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .modalHead {
    width: 100%;
    height: 8vh;
    background: linear-gradient(#5cb85c, #56be43, #5cb85c);
    border: 1px solid #4cbb17;
    color: #fff;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2% 5%;
  }

  .modalBody {
    width: 100%;
    height: 70vh;
    padding: 2% 5%;
  }

  #pg {
    font-size: 2em;
  }

  .modalFooter {
    width: 100%;
    height: 8vh;
    background: linear-gradient(#5cb85c, #56be43, #5cb85c);
    border: 1px solid #4cbb17;
    color: #fff;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2% 5%;
  }

  .modalCon {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }

    to {
      top: 0;
      opacity: 1;
    }
  }

  .close {
    color: #fff;
    float: right;
    font-size: 2em;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /*===== COLLAPSIBLE =====*/
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 7vh;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2em;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }

  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

}

